---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Nav from '@/components/Nav.astro';
import Hero from '@/components/Hero.astro';
import Pillars from '@/components/Pillars.astro';
import Clients from '@/components/Clients.astro';
---
<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Pillars />
    <Clients />
  </main>
</BaseLayout>
