---
import { Image } from 'astro:assets';
import headshot from '../assets/andy-wolff.jpg';
import about from '@/data/about.json';
---
<section id="about" class="px-5 sm:px-12 py-12 sm:py-16 border-b-2 border-base-content/10 flex flex-col sm:flex-row gap-8 sm:gap-11 items-start sm:items-center reveal">
  <Image
    src={headshot}
    alt="Andy Wolff"
    width={200}
    height={200}
    class="w-[6.25rem] h-[6.25rem] rounded-full border-[3px] border-primary object-cover object-top flex-shrink-0"
  />
  <div>
    <h3 class="text-[1.25rem] sm:text-[1.5rem] font-extrabold mb-[0.625rem]">{about.name}</h3>
    <p class="text-[0.8125rem] text-base-content/80 leading-[1.8] max-w-[40rem] text-pretty">
      {about.bio}
    </p>
  </div>
</section>
